html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: $global-body-background;
  color: $text-color;
  font-family: $global-font-family;
  font-size: $global-font-size;
  font-weight: normal;
  line-height: $global-line-height;
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

audio,
canvas,
img,
video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure { margin: 0 0 10px; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $title-color;
  font-family: $global-font-family-secondary;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

h1, .h1 {
  font-size: 56px;
  line-height: 1.29;
}

h2, .h2 {
  font-size: 36px;
  line-height: 1;
}

h3, .h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4, .h4 {
  text-transform: none;
  font-weight: normal;
  font-size: 23px;
  line-height: 1.57;
}

h5, .h5 {}

h6, .h6 {}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}