html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: $global-body-background;
  color: $text-color;
  font-family: $global-font-family;
  font-size: $global-font-size;
  font-weight: normal;
  line-height: $global-line-height;
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

audio,
canvas,
img,
video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

p,
ul,
ol,
dl,
pre,
address,
figure { margin: 0 0 24px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $title-color;
  font-family: $global-font-family-secondary;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

h1, .h1 {
  font-size: 56px;
  line-height: 1.29;
  margin-bottom: 20px;
  @media (max-width: $breakpoint-medium) {
    font-size: 32px;
  }
  @media (max-width: $breakpoint-small) {
    font-size: 28px;
  }
}

h2, .h2 {
  font-size: 36px;
  line-height: 1;
  @media (min-width: $breakpoint-small) {
    font-size: 32px;
  }
}

h3, .h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4, .h4 {
  text-transform: none;
  font-weight: normal;
  font-size: 23px;
  line-height: 1.57;
}

h5, .h5 {}

h6, .h6 {}

#wrapper {
  position: relative;
  overflow: hidden;
  background: url('../images/bg.svg') 100% 0 no-repeat;
  background-size: 80%;
  @media (max-width: $breakpoint-medium) {
    background-size: 165px;
  }
  @media (max-width: $breakpoint-small) {
    background-size: 120px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  &-large {
    max-width: 1500px;
  }
}

a.btn {
    border-radius: 5px;
    padding: 20px 32px;
    margin: auto 0;
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background: $brand-color;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover {
      background: $blue;
    }
}