.footer {
  background: $dark-blue;
  color: $gray-blue;
  font-size: 15px;
  ul {
    padding: 0;
    list-style: none;
  }
  p {
    margin: 0;
  }
  &-area {
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint-medium) {
      &:not(.footer-area-bottom) {
        flex-direction: column;
      }
    }
    @media (max-width: $breakpoint-small) {
      padding: 35px 0;
      &:not(.footer-area-bottom) {
        align-items: flex-start;
      }
    }
  }
  &-area-bottom {
    border-top: 1px solid #2f355d;
    padding: 20px 0;
    @media (max-width: $breakpoint-small) {
      padding: 40px 0 20px;
      flex-direction: column;
    }
  }
  &-nav {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-small) {
      display: block;
    }
    li {
      padding-left: 30px;
      @media (max-width: $breakpoint-small) {
        padding: 0;
      }
    }
    a {
      color: $light-blue;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  &-social {
    margin: 0;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-small) {
      order: -1;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    li {
      padding-left: 12px;
      @media (max-width: $breakpoint-small) {
        padding: 0 3px;
      }
    }
    a {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      opacity: 1;
      transition: opacity .2s;
      @media (max-width: $breakpoint-small) {
        width: 55px;
        height: 55px;
        font-size: 22px;
      }
      &:hover {
        opacity: .8;
      }
      &.google { background: #e64c43; }
      &.facebook { background: #30518d; }
      &.linkedin { background: #007ab6; }
      &.twitter { background: #00a8dd; }
    }
  }
  &-logo {
    width: 178px;
    height: 40px;
    @media (max-width: $breakpoint-medium) {
      margin-bottom: 30px;
    }
  }
}